@model IEnumerable<OnlineJobPortal.Models.singleorder>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";

}

<table class="table table-bordered mydatatable">
	<thead>
    <tr>
        <th>id</th>
		<th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>PinCode</th>
        <th>Address</th>
        <th>Product Name</th>
        <th>Product CID</th>
        <th>Product Price</th>
        <th>Mode</th>
        <th>Payemnt Status</th>
        <th>Amount</th>
        <th>Transaction Id</th>
        <th>PaymentStatus</th>
        <th>
          Invoice
        </th>


        
    </tr>


    </thead>
    
    <tbody>
    @foreach (var data in Model)


    {
        <tr>
            <td>@data.id</td>
            <td>@data.name</td>
            <td>@data.mobile</td>
            <td>@data.email</td>
            <td>@data.pincode</td>
            <td>#data.address</td>
            <td>@data.productname</td>
            <td>@data.productcid</td>
            <td>@data.productprice</td>
            <td>@data.mode</td>
            <td>@data.paymentstatus</td>
            <td>@data.amount</td>
            <td>@data.transactionid</td>
            <td>
                
                    @if(data.paymentstatus == "success")
                    {
                        <span class="badge text-bg-success">Success</span>


                    }
                    else
                    {
                        <span class="badge text-bg-warning">Pending</span>
                    }

                
                
            </td>
            <td> <a class="btn btn-primary" asp-action="InvoiceView" asp-route-id="@data.id">Show Data</a></td>
        </tr>
    }

    </tbody>

</table>