@model IEnumerable<OnlineJobPortal.Models.product>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

<h1> Manage Product </h1>

<br/>

<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addproduct" > Add New Product </a>

<br/>

<table class="table table-bordered">

    <tr>
        <th> Sr </th>
        <th> Name  </th>
        <th> Price </th>
        <th> Description </th>
        <th> Image </th>
        <th> Category ID </th>
        <th> Actions </th>
    </tr>

    @foreach(var data in Model)
    {
        <tr>
            <td> @data.id </td>
            <td> @data.name </td>
            <td> @data.price </td>
            <td> @data.description </td>
            <td> <img src="~/product/@data.image" style="height: 100px;" /> </td>
            <td> @data.cid </td>
            <td>  </td>
        </tr>
    }

</table>

<div class="modal fade" id="addproduct">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"> Add Product </h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" ></button>
            </div>

            <div class="modal-body">
                <form method="post" action="SaveProduct" enctype="multipart/form-data">

                    Enter Product Name 
                    <input type="text" class="form-control" required name="name" />
                    <br/>
                    Enter Product Price
                    <input type="text" class="form-control" required name="price" />
                    <br />
                    Enter Product Description
                    <input type="text" class="form-control" required name="description" />
                    <br />
                    Upload Product Image
                    <input type="file" class="form-control" required name="image" />
                    <br />
                    Select Category 
                    <select required name="cid" class="form-control" >
                        <option value="">-Select Category-</option>
                        @foreach(var data in ViewBag.categories)
                        {
                            <option value="@data.id" > @data.title </option>
                        }
                    </select>
                    <br/>
                    <button class="btn btn-primary">Save</button>
                    <br/>

                </form>
            </div>

        </div>
    </div>
</div>







